html {
  background-color: #7aeee0;
}

* {
  margin: 5px 0 5px 0;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: #2d3332;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list__input {
  width: 100%;
  border: none;
  border-radius: 5px 0 0 5px;
}
.list__input:focus {
  outline: none;
}

.list__titile {
  text-align: center;
}

.list_container {
  width: 300px;
  background-color: #eefb54;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

.list__flex-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list__flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list__item {
  width: 100%;
}

.list__button__clear {
  text-align: center;
  position: absolute;
  bottom: 0;
  margin: 20px;
}

.list__button__done {
  width: 26px;
  height: 22px;
  background-image: url(/images/check-mark.png);
  background-size: cover;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.list__button__done:active {
  opacity: 0.5;
  filter: contrast(97%);
}

.list__button__delete {
  width: 26px;
  height: 22px;
  background-image: url(/images/delete.png);
  background-size: cover;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.list__button__delete:active {
  opacity: 0.5;
  filter: contrast(97%);
}

.list__button__edit,
.list__button__clear {
  background-color: #8bc34a;
  color: #2d3332;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.list__button__edit:hover,
.list__button__clear:hover {
  background-color: #f2543a;
}
.list__button__edit:active,
.list__button__clear:active {
  background-color: #fdbb29;
}

.list__button__edit {
  border-radius: 0 5px 5px 0;
}

textarea {
  border: none;
  background: none;
  resize: none;
  outline: none;
}/*# sourceMappingURL=styles.css.map */