$back-col: #7aeee0;
$column-col: #eefb54;
$text-col: #2d3332;
$but-col: #8bc34a;
$but-col-2: #f2543a;
$but-col-3: #fdbb29;
$border-rad: 5px;
$shadow: 0 0 10px rgba(0, 0, 0, 0.5);

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin button-image-add-del($image-path) {
    width: 26px;
    height: 22px;
    background-image: url(#{$image-path});
    background-size: cover;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:active {
        opacity: 0.5;
        filter: contrast(97%);
    }
}

@mixin button-image-edit-clear {
    background-color: $but-col;
    color: $text-col;
    text-decoration: none;
    border-radius: $border-rad;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: $but-col-2;
    }

    &:active {
        background-color: $but-col-3;
    }
}