@import '_variables';

html {
    background-color: $back-col;
}

* {
    margin: 5px 0 5px 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: $text-col;
}

main {
    @include flex-center;
}

.list__input {
    width: 100%;
    border: none;
    border-radius: $border-rad 0 0 $border-rad;

    &:focus {
        outline: none;
    }
}

.list__titile {
    text-align: center;
}

.list_container {
    width: 300px;
    background-color: $column-col;
    padding: 20px;
    border-radius: $border-rad;
    box-shadow: $shadow;
    position: relative;
}

.list__flex-between {
    @include flex-space-between;
}

.list__flex-center {
    @include flex-center;
}

.list__item {
    width: 100%;
}

.list__button__clear {
    text-align: center;
    position: absolute;
    bottom: 0;
    margin: 20px;
}

.list__button__done {
    @include button-image-add-del("/images/check-mark.png");
}

.list__button__delete {
    @include button-image-add-del('/images/delete.png');
}

.list__button__edit,
.list__button__clear {
    @include button-image-edit-clear;
}

.list__button__edit {
    border-radius: 0 $border-rad $border-rad 0;
}

textarea {
    border: none;
    background: none;
    resize: none;
    outline: none;
}